@media (max-width: 1100px) {
    .wrapper {
        background-image: url("../assets/images/bg-tablet.webp");
    }
    .title {
        font-size: 45px;
    }
    .wheel {
        max-width: 440px;
    }
    .footer {
        flex-direction: column;
        gap: 20px;
    }
    .crypto {
        width: initial;
    }
    .modal-content {
        font-size: 100px;
        max-width: 630px;
    }
    .modal-content span {
        font-size: 60px;
    }
    .modal-content button {
        font-size: 60px;
    }
}

@media (max-width: 700px) {
    .wrapper {
        background-image: url("../assets/images/bg-mobile.webp");
    }
    .logo {
        max-width: 167px;
    }
    .title {
        font-size: 25px;
    }
    .wheel {
        max-width: 280px;
    }
    .action-button {
        font-size: 24px;
        padding: 4px 30px;
    }
    .container {
        padding: 0 24px;
    }
    .crypto img {
        width: 100%;
        max-width: 25px;
    }
    .payments img {
        transform: scale(0.8);
    }
    .payments {
        justify-content: space-evenly;
    }

    .payments img {
        width: 20%;
    }
    .modal-content {
        font-size: 56px;
        max-width: 354px;
        height: 354px;
    }
    .modal-content span {
        font-size: 33px;
    }
    .modal-content button {
        font-size: 33px;
        padding: 10px 35px;
        margin-top: 35px;
    }
    .modal-content::before {
        position: absolute;
        content: "";
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% - 15px);
        height: calc(100% - 15px);
        border: 2.8px solid #ffcf00;
        border-radius: 55px;
        z-index: 0;
    }
}
